@charset "utf-8";
.dp-left-nav {position:absolute; left:-250px; top:53px; z-index:100;}
.dp-mobile-menu-btn {display:none;}
.dp-left-nav .dp-left-nav-list {width:220px; height:305px; border-right:10px solid #3cb4ff; box-sizing:border-box;}
.dp-left-nav .dp-left-nav-list > li {padding:14px 15px 14px 0;}
.dp-left-nav .dp-left-nav-list > li:first-child {padding:0 15px 14px 0;}
.dp-left-nav .dp-left-nav-list > li > a {position:relative; padding-right:40px; transition:0.3s; font-size:15px; font-size:1.5rem; color:#acacb2;}
.dp-left-nav .dp-left-nav-list > li > a.dp-left-nav-main {padding-right:0; width:100%; min-height:30px; text-indent:-99999px; background:url('../img/left-arrow.svg') no-repeat right; background-size:30px; box-sizing:border-box;}
.dp-left-nav .dp-left-nav-list > li > a.dp-left-nav-main:hover {transform:scale(1.2); margin-right:20px;}
.dp-left-nav .dp-left-nav-list > li > a:after {content:''; position:absolute; right:0; top:50%; margin-top:-9px; width:18px; height:18px;}
.dp-left-nav .dp-left-nav-list > li > a:hover {color:#fff; font-size:18px; font-size:1.8rem;}
.dp-left-nav .dp-left-nav-list > li > a.dp-left-nav-dpass:after {background:url('../img/gem-regular.svg') no-repeat right; background-size:100%;}
.dp-left-nav .dp-left-nav-list > li > a.dp-left-nav-dtest:after {background:url('../img/layer-group-solid.svg') no-repeat right; background-size:16px;}
.dp-left-nav .dp-left-nav-list > li > a.dp-left-nav-dtalks:after {background:url('../img/cubes-solid.svg') no-repeat right; background-size:100%;}
.dp-left-nav .dp-left-nav-list > li > a.dp-left-nav-mydata:after {background:url('../img/cube-solid.svg') no-repeat right; background-size:100%;}


.dp-bottom-nav {display:flex; flex-direction:row; padding:0 25px; box-sizing:border-box;}
.dp-bottom-nav .dp-bottom-nav-list > li > a {margin-top:100px; padding:17px 5px; height:100%; font-size:15px; font-size:1.5rem; color:#e0e4f2; background:#5064b4; border-right:1px solid #060818; border-left:1px solid #060818; transition:0.3s;}
.dp-bottom-nav .dp-bottom-nav-list > li > a:hover {background:#fff; color:#282828; font-size:1.6px; font-size:1.6rem;}


.dp-main {padding:50px 25px 0;}
.dp-tit-wrap {display:flex; flex-direction:row;}
.dp-tit-left {flex:4;}
.dp-tit-right {flex:6; padding-top:15px;}
.dp-tit-wrap .dp-tit {line-height:100%; font-size:82px; font-size:8.2rem; font-weight:bold;}
.dp-tit-wrap .dp-tit-description {font-size:24px; font-size:2.4rem; margin-top:10px; line-height:140%;}
.dp-views-icon {width:50px; height:50px; background:url('../img/view-details.svg') no-repeat center; background-size:100%; text-indent:-99999px;}
.dp-views-txt-wrap {padding-left:15px;}
.dp-views-txt-wrap .dp-views-txt01 {padding-top:3px; font-size:13px; font-size:1.3rem; color:#a9adaf;}
.dp-views-txt-wrap .dp-views-txt02 {padding-top:5px; font-size:20px; font-size:2.0rem; font-weight:bold; color:#fff;}
.dp-tit-right .dp-views-txt03 {margin-top:20px; font-size:14px; font-size:1.4rem; color:#a8acaf; line-height:140%;}

.dp-filter-wrap {display:flex; flex-direction:row; flex-wrap:wrap; height:100%; margin-top:55px;}
.dp-filter-wrap .dp-filter-tit {padding:10px 0; margin-bottom:20px; font-size:18px; font-size:1.8rem; font-weight:normal; color:#d2d3d5;}
.dp-filter02 .dp-filter-tit, .dp-filter03 .dp-filter-tit {padding-left:40px;}
.dp-filter-wrap .dp-filter-guide-txt {margin-top:25px; width:100%; color:#9b9daa; font-size:14px; font-size:1.4rem; font-weight:normal;}
.dp-filter-wrap .dp-filter01 {flex:4;}
.dp-filter-wrap .dp-filter02 {flex:2.6;}
.dp-filter-wrap .dp-filter03 {flex:2.4;}
.dp-filter-wrap .dp-filter01-list {display:flex; flex-direction:row; flex:1; flex-wrap:wrap; height:100%; padding-right:40px; border-right:1px dotted #256c9d;}
.dp-filter-wrap .dp-filter01-list > li {width:33.33%; box-sizing:border-box;}
.dp-filter-wrap .dp-filter01-label {position:relative; min-height:68px; margin:4px; border:1px solid #256c9d; border-radius:6px; box-sizing:border-box; cursor:pointer;}
.dp-filter-wrap .dp-filter01-label:after {content:''; position:absolute; top:10px; left:50%; margin-left:-11px; width:22px; height:15px; background:url('../img/down-arrow.svg') no-repeat center; background-size:100%;}
.dp-filter-wrap .dp-filter01-label.checkTrue:after {background-image:url('../img/down-arrow-hover.svg'); }
.dp-filter-wrap .dp-filter01-label input {width:0; height:0; opacity:0;}
.dp-filter-wrap .dp-filter01-txt {position:absolute; top:0; left:0; width:100%; height:100%; padding:33px 0 10px; transition:0.2s; box-sizing:border-box; border-radius:4px;}
.dp-filter-wrap .dp-filter01-label input[type="radio"]:checked + .dp-filter01-txt {background:#5064b4;}

.dp-filter-wrap .dp-filter01-slct-list {padding-right:20px; border-right:1px dotted #256c9d;}
.dp-filter-wrap .dp-filter01-slct-list > li {display:flex; flex-direction:row; align-items:center; margin-top:20px; box-sizing:border-box;}
.dp-filter-wrap .dp-filter01-slct-list > li:first-child {margin-top:0;}
.dp-filter-wrap .dp-filter01-slct-list > li .dp-select01 {flex:1; min-width:212px; box-sizing:border-box;}
.dp-filter-wrap .dp-filter01-guide-txt {flex:1; padding-left:10px; font-size:13px; font-size:1.3rem; font-weight:normal; color:#9698a5;}

.dp-filter-wrap .dp-filter02-list {padding:0 40px; border-right:1px dotted #256c9d;}
.dp-filter-wrap .dp-filter02-list > li {margin-top:20px; width:212px; box-sizing:border-box;}
.dp-filter-wrap .dp-filter02-list > li:first-child {margin-top:0;}

.dp-select01 {position:relative; width:100%; cursor:pointer; box-sizing:border-box;}
.dp-select01:after {content:''; display:inline-block; position:absolute; right:13px; top:50%; margin-top:-6px; padding:3px; border:solid #359edf; border-width:0 1px 1px 0; transform:rotate(45deg);}
.dp-select01 select {display:block; position:relative; width:100%; height:35px; padding:0 30px 0 8px; font-size:14px; font-size:1.4rem; font-weight:normal; border:1px solid #25699b; color:#e0e0e0; border-radius:4px; background:#060818; box-sizing:border-box; outline:0; appearance:none; -webkit-appearance:none; -moz-appearance:none; transition:0.4s; cursor:pointer;}
.dp-select01 select::-ms-expand {display:none;}
.dp-select01 select:focus {border:1px solid #fff;}
.dp-select01.checkTrue:after {border-color:#fff;}
.dp-select01.checkTrue select {background:#5064b4;}

.dp-filter-wrap .dp-filter03-btn-wrap {padding:0 40px;}
.dp-filter-wrap .dp-filter-btn-search {display:inline-block; line-height:100%; padding:8px 20px; min-width:206px; font-size:18px; font-size:1.8rem; font-weight:normal; border:0; border-radius:20px; text-align:center; box-sizing:border-box; outline:0; transition:0.2s; cursor:pointer;}
.dp-filter-wrap .dp-filter-btn-search.disabled {background:#999; color:#fff;}
.dp-filter-wrap .dp-filter-btn-search.active {background:#5064b4; color:#fff;}
.dp-filter-wrap .dp-filter-btn-reselect {display:inline-block; line-height:100%; padding:8px 20px; margin-top:25px; min-width:206px; font-size:14px; font-size:1.4rem; border:0; border-radius:0; background:transparent; color:#80838a; text-align:center; box-sizing:border-box; outline:0; transition:0.2s; cursor:pointer; vertical-align:middle;}
.dp-filter-wrap .dp-filter-btn-reselect:hover {color:#fff;}
.dp-filter-wrap .dp-filter-btn-reselect:before {content:''; position:relative; display:inline-block; margin-right:10px; margin-top:-4px; margin-left:-4px; width:16px; height:16px; background:url('../img/redo-solid.svg') no-repeat center; background-size:100%; vertical-align:middle; transition:0.4s;}
.dp-filter-wrap .dp-filter-btn-reselect:hover:before {transform:rotate(45deg);}

.dp-filtered-chart-wrap {margin-top:30px; min-height:332px; border-radius:15px; box-sizing:border-box;}
.dp-filtered-chart-wrap .dp-no-result {display:flex; flex-direction:row; align-items:center; padding:84px 75px;}
.dp-no-result-icon {margin-right:20px; width:130px; height:130px; background:url('../img/search-engine.svg') no-repeat center; background-size:100%;}
.dp-no-result-dot-icon {position:relative; width:18px; height:18px; margin:0 34px; background:#4f5f82; border-radius:50%; box-sizing:border-box;}
.dp-no-result-dot-icon:before, .dp-no-result-dot-icon:after {content:''; position:absolute; width:18px; height:18px; background:#4f5f82; border-radius:50%; box-sizing:border-box;}
.dp-no-result-dot-icon:before {left:-35px;}
.dp-no-result-dot-icon:after {right:-35px;}
.dp-no-result-description {margin:0 25px; line-height:180%;}
.dp-no-result-tit {font-size:18px; font-size:1.8rem; color:#b1b5b7;}
.dp-no-result .dp-no-result-txt-list {padding-top:15px;}
.dp-no-result .dp-no-result-txt-list > li {color:#8c8f95; font-size:15px; font-size:1.5rem; line-height:140%; margin-top:5px;}
.dp-listed-txt {position:relative; padding-left:18px;}
.dp-list-number {position:absolute; left:0; top:0;}

.dp-chart-tit {padding:25px 20px 10px; font-size:24px; font-size:2.4rem; color:#fff; font-weight:normal;}
.dp-chart-area {display:flex; height:270px; box-sizing:border-box;}
.dp-chart-parent {position:relative; flex-grow:1;}
.dp-chart-container {position:absolute; left:0; top:0; bottom:0; right:0; overflow:hidden;}

.dp-untact-lecture-wrap {display:flex; flex-direction:row; margin-top:70px;}
.dp-untact-lecture-list-wrap {flex:1; position:relative; min-width:714px;}
.dp-untact-lecture-rcmd-wrap {min-width:320px; padding-left:50px; padding-right:10px; box-sizing:border-box;}
.dp-untact-lecture-wrap .dp-untact-lecture-tit {font-size:18px; font-size:1.8rem; font-weight:normal; margin-bottom:35px; color:#fcfcfd;}
.dp-untact-lecture-wrap .dp-untact-lecture-btn-more {margin-right:40px; font-size:14px; font-size:1.4rem; color:#aeb2b5; transition:0.3s;}
.dp-untact-lecture-wrap .dp-untact-lecture-btn-more:hover {color:#fff;}
.dp-untact-lecture-swiper-wrap {position:relative; padding:0 40px;}
.dp-untact-lecture-wrap .dp-untact-lecture-link {display:flex; flex-flow:row nowrap; align-items:center; justify-content:center; position:relative; overflow:hidden; width:100%; height:105px; box-sizing:border-box; border:1px solid #2f8ac7; transition:0.3s; background:url('') no-repeat center; background-size:cover;}
.dp-untact-lecture-wrap .dp-untact-lecture-link:hover {border-color:#fff;}
.dp-play-icon {position:absolute; top:50%; left:50%; margin-left:-20px; margin-top:-20px; width:40px; height:40px; border-radius:50%; background:#ddd url('../img/play-circle-solid.svg') no-repeat center; background-size:110%; text-indent:-99999px; box-sizing:border-box; transition:0.2s;}
.dp-untact-lecture-wrap .dp-untact-lecture-link:hover .dp-play-icon {background-color:#fff;}
.dp-untact-lecture-wrap .dp-untact-lecture-link-tit {margin:10px 0; text-align:center; color:#e7e7e9;}
.swiper-button-next, .swiper-container-rtl .swiper-button-prev {right:0px; left:auto; outline:0; margin-top:-35px; z-index:10;}
.swiper-button-prev, .swiper-container-rtl .swiper-button-next {left:0px; right:auto; outline:0; margin-top:-35px; z-index:10;}
.swiper-button-next:after {font-size:0; width:27px; height:44px; background:url('../img/right-arrow-swiper.svg') no-repeat center; background-size:120%;}
.swiper-button-prev:after {font-size:0; width:27px; height:44px; background:url('../img/left-arrow-swiper.svg') no-repeat center; background-size:120%;}


/* My Data */
.dp-parents-login-status {padding:8px 24px; background:#474747; color:#e3f93e; font-size:17px; font-size:1.7rem; font-weight:normal;}
.dp-basic-info-wrap {display:flex; flex-direction:row; margin-top:80px;}
.dp-user-info-wrap {flex:2.5; padding:35px 40px;}
.dp-user-icon {display:inline-block; width:64px; height:64px; background:url('../img/reading.svg') no-repeat center; background-size:100%;}
.dp-learning-time-wrap {flex:7.5; display:flex; flex-direction:row; flex-wrap:wrap; height:100%; padding:0 0 0 40px;}
.dp-learning-time-by-place-wrap {width:50%; text-align:center;}
.dp-learning-time-by-type-wrap {width:50%; text-align:center;}
.dp-learning-time-wrap .dp-learning-time-guide-txt {margin-top:20px; width:100%; color:#9b9daa; text-align:center;}

.dp-user-info-table tr td, .dp-user-info-table tr th {font-size:14px; font-size:1.4rem;}
.dp-user-info-table td {padding:10px 0 0; color:#c5c7d4;}
.dp-user-info-table th {padding:10px 25px 0 0; color:#a3a4b9; font-weight:normal;}
.dp-user-info-table tr:first-child td, .dp-user-info-table tr:first-child th {padding-top:0; padding-bottom:15px;}
.dp-user-info-table .dp-user-name {font-size:20px; font-size:2.0rem; font-weight:normal; color:#fcfeff;}
.dp-user-info-table .dp-user-birth-date {margin-top:5px; font-size:13px; font-size:1.3rem;}
.dp-user-info-table .dp-user-gender {margin-top:3px; font-size:13px; font-size:1.3rem;}

.dp-learning-time-wrap .dp-learning-time-tit {font-size:18px; font-size:1.8rem; font-weight:normal; color:#feffff;}
.dp-learning-time-wrap .dp-chart-area {height:auto;}
.dp-learning-time-wrap .dp-chart-parent {padding-bottom:100%;}
.dp-alarm-icon {display:inline-block; width:50px; height:50px; background:url('../img/alarm.svg') no-repeat center; background-size:100%;}
.dp-school-icon {display:inline-block; width:45px; height:45px; margin-top:-10px; background:url('../img/school.svg') no-repeat center; background-size:100%;}

.dp-mydata-tab-wrap {margin-top:80px;}
.dp-mydata-tab-wrap .tab {margin:20px 0 0 0;}
.dp-mydata-tab-wrap .tab > ul {display:flex; flex-direction:row; overflow:hidden; padding:0; margin:0; background:#1a1c2d; list-style:none; border-radius:3px;}
.dp-mydata-tab-wrap .tab > ul > li {display:flex; flex-direction:column; flex:1; min-height:45px;}
.dp-mydata-tab-wrap .tab > ul > li > a {display:flex; flex-direction:row; flex:1; position:relative; padding:8px 5px; border-left:3px solid #060817; font-size:13px; font-size:1.3rem; line-height:140%; font-weight:normal; color:#f3f5ff; text-decoration:none; box-sizing:border-box; text-align:center; align-items:center; justify-content:center;}
.dp-mydata-tab-wrap .tab > ul > li:first-child > a {border-left:0;}
.dp-mydata-tab-wrap .tab > ul > li.on > a {background:#3cb4ff; color:#fff;}

.dp-mydata-tab-wrap .dp-tab-inside-wrap {margin-top:40px; padding:0 35px 40px;}
.dp-mydata-tab-wrap .dp-mydata-tab-section-tit {padding-top:40px; font-size:18px; font-size:1.8rem; font-weight:normal;}

.dp-smart-learning-wrap {display:flex; flex-direction:row; flex-wrap:wrap; height:100%;}
.dp-smart-learning-wrap .dp-learning-propensity-chart-wrap {flex:1.2;}
.dp-smart-learning-wrap .dp-learning-propensity-chart-wrap .dp-chart-area {margin-top:20px; height:300px;}
.dp-smart-learning-wrap .dp-learning-propensity-diagram-wrap {flex:2;}
.dp-smart-learning-wrap .dp-learning-propensity-curating-wrap {width:100%;}

.dp-learning-propensity-diagram-wrap .dp-inner-diagram-wrap {display:flex; flex-direction:row; flex:1; justify-content:space-between; align-items:center; margin-top:50px;}
.dp-learning-propensity-diagram-wrap .dp-diagram-wrap {display:flex; flex-direction:column; flex:1;}
.dp-learning-propensity-diagram-wrap .dp-assessmentList {display:flex; flex-direction:row; justify-content:space-between;}
.dp-learning-propensity-diagram-wrap .dp-assessmentList > li {margin:0 5px; width:100%; background:#060817; border-radius:5px; text-align:center;}
.dp-learning-propensity-diagram-wrap .dp-diagram-line {display:flex; flex-direction:column; position:relative;}
.dp-learning-propensity-diagram-wrap .dp-diagram-line:before {content:''; position:absolute; top:0; left:50%; margin-left:-0.5px; width:1px; height:100%; background:#5b5c67;}
.dp-diagram-line .diagramLine {display:flex; flex-direction:row; justify-content:center; align-items:center; margin:0 5px;}
.dp-diagram-line .diagramLine:before {content:''; width:66.6%; height:20px; margin:0 0.5rem; border:1px solid #5b5c67; border-top:0; box-sizing:border-box;}
.dp-diagram-line .diagram-help-txt-wrap {display:flex; flex-direction:row; justify-content:center; align-items:center; position:relative; margin:30px 5px;}
.dp-diagram-line .diagram-help-txt {flex:1;}
.dp-learning-propensity-diagram-wrap .dp-assessment-total {margin:0 5px; background:#060817; border-radius:5px;}
.dp-learning-propensity-diagram-wrap .dp-assessment-txt01 {padding:12px 0 0; font-size:13px; font-size:1.3rem; color:#fefeff;}
.dp-learning-propensity-diagram-wrap .dp-assessment-txt02 {padding:16px 0 12px; font-size:16px; font-size:1.6rem; color:#deec61;}
.dp-paper-clip-icon {display:inline-block; margin:0 15px; width:16px; height:26px; background:url('../img/paper-clip.svg') no-repeat center; background-size:100%; box-sizing:border-box;}

.dp-learning-propensity-curating-wrap {margin-top:30px;  padding-bottom:50px;}
.dp-learning-propensity-curating-wrap .dp-comments-wrap {height:280px; box-sizing:border-box;}
.dp-curating-tit-wrap {display:flex; flex-direction:row; justify-content:space-between;}
.dp-curating-tit-wrap .dp-curating-guide-txt {padding:40px 10px 0 0; color:#9d9fae;}
.dp-learning-propensity-curating-wrap .dp-comments-list {margin-top:40px;}
.dp-learning-propensity-curating-wrap .dp-comments-list > li {padding:20px 0; margin-right:60px; border-top:1px solid #585a69;}
.dp-learning-propensity-curating-wrap .dp-comments-list > li:first-child {padding-top:0; border-top:0;}

.dp-comments-list .dp-comments-tit {margin-bottom:15px; font-size:20px; font-size:2.0rem; color:#a3a1c8; font-weight:normal;}
.dp-comments-list .dp-comments-writer {display:inline-block; margin-left:10px; font-size:14px; font-size:1.4rem;}
.dp-comments-list .dp-comments-txt {flex:1; margin:0 0 0 20px; font-size:14px; font-size:1.4rem; color:#a6a6a6;}

.dp-comments-icon {display:flex; justify-content:center; align-items:center; width:60px; height:60px; border-radius:50%; color:#fcd204; border:1px solid #fcd204; box-sizing:border-box; background:url('../img/chatting.svg') no-repeat center; background-size:50%;}

.scrollWrapper {position:relative; flex-grow:1;}
.scrollWrapper .scrollContainer {position:absolute; width:100%; height:100%; overflow-y:auto;}
.scrollWrapper .scrollContainer::-webkit-scrollbar {width:5px;}/* width */
.scrollWrapper .scrollContainer::-webkit-scrollbar-track {background:#999;}/* Track */
.scrollWrapper .scrollContainer::-webkit-scrollbar-thumb {background:#ddd;}/* Handle */
.scrollWrapper .scrollContainer::-webkit-scrollbar-thumb:hover {background:#fff;}/* Handle on hover */

.dp-score-track-wrap {display:flex; flex-direction:row; flex-wrap:wrap; height:100%;}
.dp-score-track-wrap .dp-perform-by-subj-wrap {flex:1.2;}
.dp-score-track-wrap .dp-case-study-wrap {flex:2; margin-left:40px;}
.dp-score-track-wrap .dp-sixmonth-perform-by-subj-wrap {width:100%;}
.dp-score-track-wrap .dp-threemonth-perform-by-subj-wrap {width:100%;}
.dp-sixmonth-perform-by-subj-wrap .dp-chart-area {margin-top:20px; height:300px;}
.dp-threemonth-perform-by-subj-wrap .dp-chart-area {margin-top:20px; height:300px;}
.dp-perform-by-subj-wrap .dp-chart-area {margin-top:40px;}

.dp-case-study-wrap .dp-case-study-guide-wrap {margin-top:50px;}
.dp-case-study-wrap .dp-case-study-guide-wrap > li {padding:5px 0;}
.dp-case-study-good-icon, .dp-case-study-bad-icon, .dp-case-study-soso-icon {display:inline-block; width:63px; height:73px; box-sizing:border-box;}
.dp-case-study-good-icon {background:url('../img/ico-polygon-good.jpg') no-repeat center; background-size:100%;}
.dp-case-study-bad-icon {background:url('../img/ico-polygon-bad.jpg') no-repeat center; background-size:100%;}
.dp-case-study-soso-icon {background:url('../img/ico-polygon-soso.jpg') no-repeat center; background-size:100%;}
.dp-case-study-wrap .dp-case-study-guide-txt {flex:1; padding:0px 25px; color:#9fa1ae; font-size:14px; font-size:1.4rem; line-height:160%;}
.dp-case-study-wrap .dp-case-study-guide-txt strong {display:inline-block; margin-right:6px; color:#fff; font-size:15px; font-size:1.5rem; font-weight:normal;}

.dp-perform-diagnosis-wrap {display:flex; flex-direction:column;}
.dp-perform-diagnosis-wrap .dp-perform-diagnosis-info-wrap {display:flex; flex-direction:row; justify-content:space-between; align-items:center; margin-top:50px;}
.dp-perform-diagnosis-info-wrap > li {display:flex; flex-direction:column; margin:0 30px; text-align:center;}
.dp-perform-diagnosis-info-wrap .dp-perform-label-txt {color:#ecedf0; font-size:18px; font-size:1.8rem;}
.dp-perform-diagnosis-info-wrap .dp-perform-value-txt {color:#fff; font-size:45px; font-size:4.5rem; line-height:160%;}
.dp-perform-diagnosis-wrap .dp-perform-level-wrap {display:flex; flex-direction:column; margin-top:20px;}
.dp-perform-diagnosis-wrap .dp-perform-level-info-wrap {display:flex; flex-direction:row; justify-content:space-between; align-items:center; background:#060817; border-radius:20px;}
.dp-perform-level-info-wrap .dp-perform-level-info-txt01 {padding:20px 30px; font-size:18px; font-size:1.8rem; color:#f4f4f4;}
.dp-perform-level-info-wrap .dp-perform-level-info-txt02 {padding:15px 30px; font-size:14px; font-size:1.4rem; color:#e8e8e8;}
.dp-perform-level-info-wrap .dp-perform-level-info-txt03 {margin:0 25px; font-size:30px; font-size:3.0rem; color:#eef70b;}
.dp-perform-level-info-wrap .dp-perform-level-info-txt04 {margin:0 22px; font-size:20px; font-size:2.0rem; color:#e3ff00;}
.dp-perform-level-wrap .dp-perform-level-gage-wrap {position:relative; display:flex; flex-direction:column; margin-top:30px;}
.dp-perform-level-gage-wrap .dp-level-gage-chart {position:absolute; top:15px; left:30px; right:30px; height:10px; background:#060818; box-sizing:border-box;}
.dp-perform-level-gage-wrap .dp-level-gage-chart .dp-level-gage {position:absolute; left:0; top:0; display:block; width:100%; height:100%; background:#2d66c5;}
.dp-perform-level-gage-wrap .dp-level-chk-list {display:flex; flex-direction:row; justify-content:space-between;}
.dp-perform-level-gage-wrap .dp-level-chk-list > li {display:flex; flex-direction:column; position:relative; align-items:center; justify-content:center;}
.dp-level-chk-list .dp-level-txt01 {margin-top:15px; font-size:20px; font-size:2.0rem; color:#b0a9f7;}
.dp-level-chk-list .dp-level-txt02 {margin-top:15px; padding:5px 10px; font-size:12px; font-size:1.2rem; background-color:#060818; color:#bdbec2; border-radius:10px;}
.dp-level-chk-list .dp-level-icon {display:block; width:40px; height:40px; border-radius:50%; border:3px solid #060818; box-sizing:border-box;}
.dp-level-chk-list .dp-level-icon.chevron-circle-right-white-icon {background:#060818 url('../img/chevron-circle-right-white.svg') no-repeat center; background-size:100%;}
.dp-level-chk-list .dp-level-icon.chevron-circle-right-purple-icon {background:#060818 url('../img/chevron-circle-right-purple.svg') no-repeat center; background-size:100%;}
.dp-level-chk-list .dp-level-icon.check-circle-icon {background:#060818 url('../img/check-circle.svg') no-repeat center; background-size:100%;}
.dp-level-chk-list .dp-level-icon.circle-icon {background:url('../img/circle.svg') no-repeat center; background-size:100%;}

.dp-perform-study-time-wrap .dp-chart-area {margin-top:20px; height:300px;}

.dp-perform-user-guide-wrap {margin-top:60px; padding:20px 25px 30px 25px; background:#060817; border-radius:20px;}
.dp-perform-user-guide-wrap .dp-pen-alt-icon {display:flex; justify-content:center; align-items:center; margin:10px 40px 10px 20px; width:48px; height:48px; box-sizing:border-box; background:url('../img/pen-alt.svg') no-repeat center; background-size:100%;}
.dp-perform-user-guide-wrap .dp-perform-user-guide-tit {font-size:18px; font-size:1.8rem; color:#bdbcd6; font-weight:normal;}
.dp-perform-user-guide-wrap .dp-perform-user-guide-txt-wrap {display:flex; flex-direction:row; margin-top:20px;}
.dp-perform-user-guide-wrap .dp-perform-user-guide-txt01 {flex:1; line-height:160%; color:#afb1bd;}

.dp-time-pattern-wrap {display:flex; flex-direction:row; flex-wrap:wrap; height:100%;}
.dp-time-pattern-wrap .dp-time-pattern-table-wrap {flex:1;}
.dp-time-pattern-wrap .dp-time-pattern-analysis-wrap {flex:2;}
.dp-time-pattern-wrap .dp-perform-user-guide-wrap {width:100%; box-sizing:border-box;}

.dp-time-pattern-table-wrap {margin:0 60px 0 0;}
.dp-time-pattern-table-wrap .dp-time-pattern-study-avgtime {display:inline-block; margin:10px 0 0 20px; font-size:40px; font-size:4.0rem; color:#fefefb; line-height:160%;}
.dp-avg-time-table {margin-top:10px; text-align:left;}
.dp-avg-time-table th {padding:5px 0; color:#fcd204; font-size:15px; font-size:1.5rem; font-weight:normal; text-align:left;}
.dp-avg-time-table td {padding:0.3rem 0; color:#fff; font-size:15px; font-size:1.5rem; text-align:right;}
.dp-avg-time-table .mins-value-txt {margin-right:20px; font-size:20px; font-size:2.0rem;}
.dp-time-pattern-table-wrap .dp-time-pattern-guide-txt {margin-top:15px; font-size:12px; font-size:1.2rem; color:#acaebd;}

.dp-time-pattern-analysis-wrap .dp-chart-area {height:340px;}
.dp-health-heartrate-wrap .dp-chart-area {margin-top:40px; height:280px;}
.dp-health-sleep-time-wrap .dp-chart-area {margin-top:20px; height:300px;}


/* 팝업스타일 */
.dp-dim {display:none; position:fixed; top:0; right:0; bottom:0; left:0; background:rgba(0, 0, 0, 0.3); z-index:110;}
.dp-popFixedWrap {display:none; position:fixed; top:0; right:0; bottom:0; left:0; z-index:1000; -webkit-overflow-scrolling:touch;}
.dp-popFixedWrap .dp-dim {display:block; z-index:10;}
.dp-popWrap {position:relative; overflow:hidden; max-width:830px; min-height:100px; width:100%; padding:15px; margin:0 auto; border-radius:10px; background:#0c1315; box-shadow:2px 1px 3px rgba(0, 0, 0, 0.2); z-index:20; box-sizing:border-box;}
.dp-popWrap.maxW580 {max-width:580px;}



/* background-color */
.dp-bg-dark {background-color:#060818;}
.dp-bg-blue {background-color:#3cb4ff;}
.dp-bg-deep-blue {background-color:#4f5f82;}
.dp-bg-dark-blue {background-color:#1a1c2d;}
.dp-bg-red {background-color:#fb0e0e;}
.dp-bg-white {background-color:#fff;}

/* color */
.dp-color-white {color:#fff;}
.dp-color-blue {color:#3cb4ff;}
.dp-color-deep-blue {color:#4f5f82;}
.dp-color-red {color:#fb0e0e;}
.dp-color-light-purple {color:#a3a1c8;}
.dp-color-yellow {color:#fcd204;}

.dp-col-flex {display:flex; flex-direction:column;}
.dp-row-flex {display:flex; flex-direction:row;}
.jc-flex-end {justify-content:flex-end;}
.jc-center {justify-content:center;}
.jc-space-around {justify-content:space-around;}
.jc-space-between {justify-content:space-between;}
.ai-flex-end {align-items:flex-end;}
.ai-stretch {align-items:stretch;}
.ai-center {align-items:center;}
.dp-flex-center {justify-content:center; align-items:center;}

.dp-flex-1 {flex:1;}
.dp-flex-2 {flex:2;}
.dp-flex-3 {flex:3;}
.dp-flex-4 {flex:4;}
.dp-flex-5 {flex:5;}
.dp-flex-6 {flex:6;}
.dp-flex-7 {flex:7;}
.dp-flex-8 {flex:8;}
.dp-flex-9 {flex:9;}
.dp-flex-10 {flex:10;}

.dp-txtC {text-align:center;}
.dp-txtL {text-align:left;}
.dp-txtR {text-align:right;}

.dp-borRadius20 {border-radius:20px;}

/* 김코디 쪽 css 수정 */
.contents-container, .contents-wrap {position:relative; height:auto; padding-bottom:0;}
.contents-container .contents {position:relative; padding-bottom:0;}
#footer {padding-top:0;}
/* //김코디 쪽 css 수정 */

@media (max-width:1080px){
  .dp-container {width:100%; padding-top:20px; box-sizing:border-box;}
  .dp-tit-wrap {flex-direction:column;}
  .dp-tit-left {flex:auto;}
  .dp-tit-right {flex:auto;}

  .dp-left-nav {left:-220px; top:0; height:100%; transition:0.4s; background:#515154;}
  .dp-left-nav .dp-left-nav-list {height:100%;}
  .dp-left-nav .dp-left-nav-list > li > a.dp-left-nav-main {display:none;}
  .dp-mobile-menu-btn {display:block; position:absolute; top:0; right:-60px; padding:10px; width:60px; height:60px; box-sizing:border-box; outline:0; cursor:pointer; border:0; text-indent:-999999px; background:transparent;}
  .dp-mobile-menu-btn .bar1, .dp-mobile-menu-btn .bar2, .dp-mobile-menu-btn .bar3 {display:block; width:36px; height:4px; background-color:#3cb4ff; margin:6px 0; transition:0.4s;}
  .dp-mobile-menu-btn.active .bar1 {-webkit-transform:rotate(-45deg) translate(-9px, 5px); transform:rotate(-45deg) translate(-9px, 5px);}
  .dp-mobile-menu-btn.active .bar2 {opacity:0;}
  .dp-mobile-menu-btn.active .bar3 {-webkit-transform:rotate(45deg) translate(-9px, -6px); transform:rotate(45deg) translate(-9px, -6px);}

  .dp-filter-wrap {flex-direction:column;}
  .dp-filter-wrap .dp-filter-tit {margin-bottom:10px; margin-top:10px;}
  .dp-filter02 .dp-filter-tit, .dp-filter03 .dp-filter-tit {padding-left:0;}
  .dp-filter-wrap .dp-filter01-list {border:0; padding:0;}
  .dp-filter-wrap .dp-filter01-slct-list {border:0;}
  .dp-filter-wrap .dp-filter02-list {display:flex; flex-direction:row; justify-content:space-between; align-items:center; padding:0; border:0;}
  .dp-filter-wrap .dp-filter02-list > li {flex:1; margin:4px;}

  .dp-untact-lecture-wrap {flex-direction:column; margin-top:40px;}
  .dp-untact-lecture-list-wrap {max-width:100%; min-width:100%;}
  .dp-untact-lecture-wrap .dp-untact-lecture-link {height:80px;}
  .dp-untact-lecture-rcmd-wrap {margin-top:20px; max-width:100%; min-width:100%; padding:0 10px;}
  .dp-untact-lecture-rcmd-wrap .dp-untact-lecture-link {width:180px; margin:0 auto;}
  .dp-play-icon {width:30px; height:30px; margin-top:-15px; margin-left:-15px;}

  .dp-filtered-chart-wrap .dp-chart-area {overflow-x:scroll; height:300px;}
  .dp-filtered-chart-wrap .dp-chart-area::-webkit-scrollbar {height:6px;}
  .dp-filtered-chart-wrap .dp-chart-area::-webkit-scrollbar-track {background:#999;}/* Track */
  .dp-filtered-chart-wrap .dp-chart-area::-webkit-scrollbar-thumb {background:#ddd; border-radius:6px;}/* Handle */
  .dp-filtered-chart-wrap .dp-chart-area::-webkit-scrollbar-thumb:hover {background:#fff;}/* Handle on hover */
  .dp-filtered-chart-wrap .dp-chart-area .dp-chart-container {position:relative; min-width:1080px; box-sizing:border-box;}
  .dp-filtered-chart-wrap .dp-no-result {flex-wrap:wrap; height:100%; padding:25px 25px 40px; justify-content:center;}
  .dp-no-result-icon {width:40px; height:40px; margin:0;}
  .dp-no-result-dot-icon {width:9px; height:9px; margin:0 30px;}
  .dp-no-result-dot-icon:before {width:9px; height:9px; left:-15px;}
  .dp-no-result-dot-icon:after {width:9px; height:9px; right:-15px;}
  .dp-no-result-description {margin:30px 0 0; width:100%;}
  .dp-chart-tit {font-size:18px; font-size:1.8rem;}


  .dp-basic-info-wrap {flex-direction:column; margin-top:30px;}
  .dp-user-info-wrap {flex:auto;}
  .dp-learning-time-wrap {flex:auto; margin-top:40px; padding:0;}
  .dp-mydata-tab-wrap {margin-top:40px;}

  .dp-smart-learning-wrap {flex-direction:column;}
  .dp-smart-learning-wrap .dp-learning-propensity-chart-wrap {flex:auto;}
  .dp-smart-learning-wrap .dp-learning-propensity-diagram-wrap {flex:auto;}

  .dp-learning-time-wrap .dp-chart-area {width:100%; max-width:320px; margin:0 auto;}

  .dp-smart-learning-wrap .dp-learning-propensity-chart-wrap .dp-chart-area {width:100%; max-width:320px; min-width:260px; margin:0 auto;}

  .dp-perform-study-time-wrap {margin-top:40px;}
  .dp-score-track-wrap {flex-direction:column;}
  .dp-perform-by-subj-wrap .dp-chart-area {width:100%; max-width:320px; margin:0 auto;}

  .dp-score-track-wrap .dp-sixmonth-perform-by-subj-wrap {margin-top:40px;}

  .dp-time-pattern-wrap {flex-direction:column;}

  .dp-time-pattern-wrap .dp-time-pattern-table-wrap {flex:auto; width:100%;}
  .dp-time-pattern-wrap .dp-time-pattern-analysis-wrap {flex:auto; width:100%; margin-top:40px;}
  .dp-time-pattern-analysis-wrap .dp-chart-area {width:100%; max-width:600px; height:330px; margin:0 auto;}

  .dp-sixmonth-perform-by-subj-wrap .dp-chart-area {overflow-x:scroll; height:300px;}
  .dp-sixmonth-perform-by-subj-wrap .dp-chart-area .dp-chart-container {position:relative; min-width:960px; box-sizing:border-box;}
  .dp-threemonth-perform-by-subj-wrap .dp-chart-area {overflow-x:scroll; height:300px;}
  .dp-threemonth-perform-by-subj-wrap .dp-chart-area .dp-chart-container {position:relative; min-width:960px; box-sizing:border-box;}

  .dp-perform-study-time-wrap .dp-chart-area {overflow-x:scroll; height:300px;}
  .dp-perform-study-time-wrap .dp-chart-area .dp-chart-container {position:relative; min-width:960px; box-sizing:border-box;}

  .dp-time-pattern-analysis-wrap .dp-chart-area {overflow-x:scroll; height:340px;}
  .dp-time-pattern-analysis-wrap .dp-chart-area .dp-chart-container {position:relative; min-width:600px; box-sizing:border-box;}

  .dp-health-heartrate-wrap .dp-chart-area {overflow-x:scroll; height:280px;}
  .dp-health-heartrate-wrap .dp-chart-area .dp-chart-container {position:relative; min-width:960px; box-sizing:border-box;}
  .dp-health-sleep-time-wrap .dp-chart-area {overflow-x:scroll; height:300px;}
  .dp-health-sleep-time-wrap .dp-chart-area .dp-chart-container {position:relative; min-width:960px; box-sizing:border-box;}

  .dp-tab-inside-wrap .dp-chart-area::-webkit-scrollbar {height:6px;}
  .dp-tab-inside-wrap .dp-chart-area::-webkit-scrollbar-track {background:#999;}/* Track */
  .dp-tab-inside-wrap .dp-chart-area::-webkit-scrollbar-thumb {background:#ddd; border-radius:6px;}/* Handle */
  .dp-tab-inside-wrap .dp-chart-area::-webkit-scrollbar-thumb:hover {background:#fff;}/* Handle on hover */



  /* 김코디 쪽 css 수정 */
  .contents-container, .contents-wrap {position:relative; height:auto; padding-bottom:0;}
  .contents-container .contents {position:relative; padding-bottom:0;}
  #footer {padding-top:0;}
  #footer .main_width {width:100%; padding:20px;}
  #footer .footer_info .right {width:100%;}
  /* //김코디 쪽 css 수정 */
}

@media (max-width:767px){
  .dp-filter-wrap {margin-top:40px;}
  .dp-bottom-nav {padding:0;}

  .dp-tit-wrap .dp-tit {font-size:50px; font-size:5.2rem;}
  .dp-tit-wrap .dp-tit-description {font-size:18px; font-size:1.8rem;}
  .dp-parents-login-status {padding:5px 15px; font-size:14px; font-size:1.4rem;}
  .dp-tit-right .dp-views-txt03 {font-size:13px; font-size:1.3rem;}

  .dp-user-info-wrap {padding:30px 20px;}

  .dp-mydata-tab-wrap .dp-tab-inside-wrap {padding:0 20px 30px;}
  .dp-score-track-wrap .dp-case-study-wrap {margin-left:0;}

  .dp-comments-list .dp-comments-tit {font-size:16px; font-size:1.6rem;}
  .dp-comments-icon {width:40px; height:40px;}
  .dp-comments-list .dp-comments-txt {font-size:13px; font-size:1.3rem;}

  .dp-case-study-wrap .dp-case-study-guide-wrap {margin-top:30px;}
  .dp-case-study-wrap .dp-case-study-guide-txt {padding-right:0; font-size:13px; font-size:1.3rem;}

  .dp-learning-time-wrap {flex-direction:column;}
  .dp-learning-time-by-place-wrap {width:100%;}
  .dp-learning-time-by-type-wrap {width:100%; margin-top:40px;}

  .dp-learning-propensity-diagram-wrap .dp-inner-diagram-wrap {flex-direction:column; align-items:inherit; margin-top:0;}
  .dp-learning-propensity-diagram-wrap .dp-diagram-wrap {margin-top:40px;}

  .dp-curating-tit-wrap {flex-direction:column;}
  .dp-curating-tit-wrap .dp-curating-guide-txt {padding-top:10px;}
  .dp-learning-propensity-curating-wrap .dp-comments-list {margin-top:20px;}
  .dp-learning-propensity-curating-wrap .dp-comments-list > li {margin-right:20px;}

  .dp-perform-diagnosis-wrap .dp-perform-level-wrap {margin-top:30px;}
  .dp-perform-diagnosis-wrap .dp-perform-level-info-wrap {flex-direction:column;}

  .dp-perform-diagnosis-wrap .dp-perform-diagnosis-info-wrap {flex-wrap:wrap; height:100%; margin-top:20px;}
  .dp-perform-diagnosis-info-wrap > li {margin:0; width:50%; box-sizing:border-box; margin-top:20px;}
  .dp-perform-diagnosis-info-wrap .dp-perform-label-txt {font-size:14px; font-size:1.4rem;}
  .dp-perform-diagnosis-info-wrap .dp-perform-value-txt {font-size:18px; font-size:1.8rem;}

  .dp-perform-level-info-wrap .dp-perform-level-info-txt01 {padding:10px 15px; font-size:14px; font-size:1.4rem;}
  .dp-perform-level-info-wrap .dp-perform-level-info-txt02 {padding:10px 15px;}
  .dp-perform-level-info-wrap .dp-perform-level-info-txt03 {margin:0 10px; font-size:18px; font-size:1.8rem; font-weight:normal;}
  .dp-perform-level-info-wrap .dp-perform-level-info-txt04 {margin:0 10px; font-size:18px; font-size:1.8rem; font-weight:normal;}

  .dp-perform-level-gage-wrap .dp-level-gage-chart {top:9px; height:6px;}
  .dp-level-chk-list .dp-level-icon {width:24px; height:24px; border-width:1px;}
  .dp-level-chk-list .dp-level-txt01 {font-size:15px; font-size:1.5rem; font-weight:normal;}
  .dp-level-chk-list .dp-level-txt02 {margin-top:8px; padding:3px 5px; font-size:10px; font-size:1.0rem;}

  .dp-perform-user-guide-wrap {margin-top:40px;}
  .dp-perform-user-guide-wrap .dp-pen-alt-icon {width:24px; height:24px; margin:10px 20px 10px 0;}
  .dp-perform-user-guide-wrap .dp-perform-user-guide-txt01 {font-size:13px; font-size:1.3rem;}


  /* 김코디 쪽 css 수정 */
  .contents-container, .contents-wrap {position:relative; height:auto; padding-bottom:0;}
  .contents-container .contents {position:relative; padding-bottom:0;}
  #footer {padding-top:0;}
  #footer .main_width {width:100%; padding:20px;}
  #footer .footer_info .right {width:100%;}
  /* //김코디 쪽 css 수정 */
}

@media (max-width:620px){
  .dp-filter-wrap .dp-filter01-slct-list {padding-right:0;}
  .dp-filter-wrap .dp-filter01-slct-list > li {flex-direction:column; justify-content:flex-start; align-items:flex-start; margin-top:5px;}
  .dp-filter-wrap .dp-filter01-guide-txt {flex:auto; margin-top:5px;}
  .dp-filter-wrap .dp-filter02-list {flex-direction:column;}
  .dp-filter-wrap .dp-filter02-list > li {width:100%; margin-top:7px;}
}
